html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background: #060608;
    color: #ffffff;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header
{
    background: #2f2f2f;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #f42e1f;
    text-align: center;
}

p
{
    color: #ffffff;
    margin: 25px;
    font-size: 20px;
    text-align: justify;
}

.codigo
{
    margin: 30px;
    color: #2f14c3;
    background: #ffffff;
    padding: 20px;
}